{namespace jh = Heilmann\JhPhotoswipe\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <f:render partial="Show/Image.html" arguments="{_all}" />

    <jh:pageRenderer.addJsInlineCode name="tx_jhphotoswipe100_{data.uid}" addToFooter="true">
        var openPhotoSwipe{data.uid} = function() {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            var items = [
                <f:for each="{files}" as="file" iteration="index">
                    <jh:photoswipeItem item="{file}" width="{settings.width}" renderMsrc="{settings.renderMsrc}" msrcWidth="{settings.msrcWidth}" />,
                </f:for>
            ];

            // define options
            var options = {
                <f:cObject typoscriptObjectPath="plugin.tx_jhphotoswipe.settings.photoswipeOptions" data="{data}"/>
            };

            var gallery{data.uid} = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery{data.uid}.init();
        };
        document.getElementById('jh-photoswipe-{data.uid}').onclick = openPhotoSwipe{data.uid};
    </jh:pageRenderer.addJsInlineCode>
</f:section>