<div class="csc-textpic csc-textpic-{previewOrient} csc-textpic-above">
    <div class="csc-textpic-imagewrap">
        <div class="csc-textpic-image csc-textpic-last">
            <f:if condition="{previewImageCaption}">
                <f:then>
                    <table>
                        <caption class="csc-textpic-caption">{previewImageCaption}<br/><f:translate key="clickToOpenGallery" default="(Click image to open gallery)"/></caption>
                        <tbody>
                        <tr>
                            <td>
                                <f:image image="{previewImage}" maxHeight="{settings.flexform.preview_height}" maxWidth="{settings.flexform.preview_width}" id="jh-photoswipe-{data.uid}" class="cursor-pointer" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </f:then>
                <f:else>
                    <f:image image="{previewImage}" maxHeight="{settings.flexform.preview_height}" maxWidth="{settings.flexform.preview_width}" id="jh-photoswipe-{data.uid}" class="cursor-pointer" />
                </f:else>
            </f:if>
        </div>
    </div>
</div>